<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse navbar-top animated fadeIn">
  <div class="container-fluid">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" class="logo" src="../assets/logo.png">
        </a>
      </div>
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-form navbar-right">
        <span class="glyphicon glyphicon-user"></span>
      </ul>
      <ul class="nav navbar-nav navbar-form navbar-right">
        <span class="glyphicon glyphicon-bell"></span>
      </ul>
    </div>
  </div>
</nav>

<div class="container main animated fadeIn">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default animated fadeIn fast">
        <div class="panel-heading">
          <div class="dropdown">
              <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                <span class="glyphicon glyphicon-option-vertical"></span>
              </button>
              <div class="dropdown-menu panel-left animated fadeInDown">
                  <p class="dropdown-item"><input type="text" name="watch" [(ngModel)]="hours" class="form-control watch" readonly placeholder="00:00"></p>
                  <p class="dropdown-item"><button type="button" class="btn btn-default btn-block report">Reports</button></p>
                  <p class="dropdown-item"><button type="button" class="btn btn-default btn-block incident">Incidences</button></p>
              </div>
              <span class="panel-welcome">Welcome <b>Manolo garcia</b></span>
              <span class="panel-date">{{today}}</span>
          </div>
        </div>
        <div class="panel-body col-md-12 panel-right">
          <app-check></app-check>
        </div>
      </div>
    </div>
  </div>
</div>

