.navbar{
    margin-bottom: 0px!important;
    border-radius: 0px!important;
}

.navbar-brand {
    padding: 5px 15px;
}
.nav>li:hover {
    background-color: #337ab7;
    font-size:1.2em;
}

.logo{
    max-width: 40px;
}

.glyphicon-bell{
    color: #fb0;
}

.glyphicon-user{
    color: #ffffff;
}

