<nav *ngIf="router.url !== '/login'" class="navbar navbar-inverse navbar-top animated fadeIn">
    <div class="container-fluid">
      <div class="container">
        <div class="navbar-header">
          <button type="button" (click)="buttonNavbar()" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" [routerLink]="['home']">
            <img alt="Brand" class="logo" src="../assets/logo.png">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar" [ngbCollapse]="isCollapsed">
          <ul class="nav navbar-nav" *ngIf="hrm">
            <li routerLinkActive="active"><a href="#" [routerLink]="['weeklyReport']" (click)="isCollapsed = !isCollapsed">Weekly Report</a></li>
            <li routerLinkActive="active"><a href="#" [routerLink]="['monthlyReport']" (click)="isCollapsed = !isCollapsed">Monthly Report</a></li>
            <li routerLinkActive="active"><a href="#" [routerLink]="['incidence']" (click)="isCollapsed = !isCollapsed">Incidences</a></li>
            <li *ngIf="admin" routerLinkActive="active"><a href="#" [routerLink]="['access']" (click)="isCollapsed = !isCollapsed">IP Locations</a></li>
            <li *ngIf="admin" routerLinkActive="active"><a href="#" [routerLink]="['userlist']" (click)="isCollapsed = !isCollapsed">Admin</a></li>
            <li *ngIf="admin" routerLinkActive="active"><a href="#" [routerLink]="['settings']" (click)="isCollapsed = !isCollapsed">Settings</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li [ngClass]="{'infoEmployee': admin==true || hrm==true}" class="info-user" ><img class="img_user" src="{{imagen}}" alt="User">
            <span>{{nombre}}</span></li>
            <li class="log-out" (click)="isCollapsed = !isCollapsed">
              <button type="button" (click)=logout() class="btn btn-link glyphicon glyphicon-log-out"><span [ngClass]="{'logOutAdmin': admin==true}"class="logOut">Logout</span></button>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>


<div class="container animated fadeIn">
  <router-outlet></router-outlet>
</div>
