<!--The content below is only a placeholder and can be replaced.-->
<nav *ngIf="router.url !== '/login'" class="navbar navbar-inverse navbar-top animated fadeIn">
    <div class="container-fluid">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#" [routerLink]="['home']">
            <img alt="Brand" class="logo" src="../assets/logo.png">
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a href="#" [routerLink]="['report']">Reports</a></li>
          <li><a href="#">Incidences</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-form navbar-right">
          <span [routerLink]="['login']" class="glyphicon glyphicon-user"></span>
        </ul>
        <ul class="nav navbar-nav navbar-form navbar-right">
          <span class="glyphicon glyphicon-bell"></span>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container animated fadeIn">

    <router-outlet></router-outlet>
  </div>