
<div class="row main">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 ">
        <div class="panel panel-default animated fadeIn fast">
            <div class="panel-heading">
                <span class="panel-welcome">Welcome <b class="name_user">{{name}}</b><b class="responsive_user">{{nameResponsive}}</b></span>
                <span class="panel-date">{{today}}</span>
            </div>
            <div class="panel-body col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <app-check></app-check>
            </div>
        </div>
    </div>
</div>

  
