<div class="row margin_thumbnail">
  <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5">
    <a>
        <img src="{{employees.image}}">
    </a>
  </div>
</div>
<div>
  <div class="text-center">
    <p>{{employees.name}}</p>
    <p>{{employees.email}}</p>
  </div>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Incidencia</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let incidence of incidences">
      <td>{{incidence.date | date:'dd/MM/yyyy HH:mm'}}</td>
      <td>{{incidence.message}}</td>
      <td><span (click)="openModal(incidence, template)" class='glyphicon glyphicon-eye-open' tooltip="Marcar incidencia como resuelta" placement="top"></span></td>
    </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h4 class="modal-title pull-left">Management Incidences</h4>
      </div>
      <div class="col-md-1 col-md-offset-2">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="alert alert-danger margin" *ngIf="!rForm.controls['check_in'].valid && rForm.controls['check_in'].touched || !rForm.controls['check_out'].valid && rForm.controls['check_out'].touched">
      Incorrect Values
    </div>
    <hr>
    <form [formGroup]="rForm" (ngSubmit)="setSolved(rForm.value)">
      <div class="row">
        <div class="form-group col-xs-12 col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0">
          <label class="col-xs-12" for="checkin">Check In</label>
          <input class="col-xs-12" formControlName="check_in" id="checkin" type="datetime-local" value={{check_in}}>
        </div>
        <div class="form-group col-xs-12 col-sm-5 col-md-6">
          <label class="col-xs-12" for="checkout">Check Out</label>
          <input class="col-xs-12" formControlName="check_out" id="checkout" type="datetime-local" value={{check_out}}>
        </div>
      </div>
      <div class="row padding-on-button">
        <div class="col-xs-3 col-xs-offset-7 col-sm-2 col-sm-offset-8 col-md-1 col-md-offset-8 padding-on-div">
          <button type="submit" class="btn btn-primary">Aceptar</button>
        </div>
      </div>
    </form>

  </div>
</ng-template>
