.margin{
  margin-top: 10px;
}

.modal-body{
  margin-top: 50px;
}

img {
  width: 100%;
  border-radius: 50%;
  margin-top: 8%;
  margin-bottom: 4%;
}

table {
  text-align: center;
}

tbody tr th {
  text-align: center;
}

thead tr th {
  text-align: center;
}

.padding-on-button {
  padding-top: 5%;
}

.padding-on-div {
  padding-left: 10%;
}

@media (max-width: 460px){
  /*img {
    width: 50%;
    border-radius: 50%;
  }*/
  table {
    text-align: center;
  }

  tbody tr th {
    text-align: center;
  }

  thead tr th {
    text-align: center;
  }
}
