
<div class="row margin_thumbnail">
  <div class="row">
    <img src="{{employees.image}}">
  </div>
  <div class="row text-center">
    <p>{{employees.name}}</p>
    <p>{{employees.email}}</p>
    <p *ngIf="employees.role == 1"><b>Human Resources</b></p>
    <p *ngIf="employees.role == 0"><b>Employee</b></p>
    <button type='button' (click)='changeRole()' class='btn btn-info role-button col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-4 col-md-offset-5 col-md-2 col-lg-offset-5 col-lg-2'>Change Role</button>
  </div>
</div>