.container{
    margin: 20px 0 5px 0;
}
thead tr th{
    text-align: center;
    vertical-align: middle !important;
}

tbody tr th{
    text-align: center;
    vertical-align: middle !important;
}
span{
    font-size: 25px;
}
td{
    text-align: center;
    vertical-align: middle !important;
}
.imagecell{
   width: 6%;
   margin: 0;
}

  
  img {
    border-radius: 50%;
    width: 3em;
    height: 40px;
  }
/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {}

@media (max-width: 415px) {
	
	thead tr th {
        font-size: 16px;
    }
    tbody tr td{
        text-align: center;
        font-size: 16px;
        
    }

    img{
        max-width: 80%;
    }
    }