/* You can add global styles to this file, and also import other style files */
body{
    background-color: lightgray!important;
}

.toast-top-right {
    top: 12px!important;
    margin-top:50px!important;
    right: 12px!important;
}

modal-container{
    margin-top: 5em;
}