<ng-container *ngIf="employees.length > 0; else noReportWeek">
  <div class="row margin_thumbnail">
    <div (click)="showPersonalIncidence(employee.email)" class="col-xs-12 col-sm-4 col-md-3" *ngFor="let employee of employees">
      <div class="thumbnail">
        <a>
          <img class="img-size" src="{{employee.image}}" alt="">
          <span class="badge">{{employee.incidencesNumber}}</span>
      </a>
        <div class="text-center">
          <p>{{employee.name}}</p>
          <p>{{employee.email}}</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<ng-template #noReportWeek>
  <div class="row no-data">
    <div class="col-xs-8 col-xs-offset-3 col-sm-8 col-sm-offset-4">
      <img class="img-edosoft" src="/assets/img/logo_250.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>NO INCIDENCES AVAILABLE</h2>
    </div>
  </div>
</ng-template>
