a {
  width: 100%;
  height: 100%;
}

img+span.badge {
  position: relative;
  font-size: 15px;
  bottom: 10.2em;
  right: -96%;
  background-color: red;
}

.img-size {
  height: 10em;
}

img {
  border-radius: 50%;
  width: 10em;
}

.thumbnail {
  border-radius: 20px;
}

.margin_thumbnail {
  margin-top: 15px;
}

@media (max-width: 412px) {
  a {
    width: 100%;
    height: 100%;
  }

  img+span.badge {
    position: relative;
    font-size: 15px;
    bottom: 10.2em;
    right: -96%;
    background-color: red;
    width: 8%;
    height: 23px;
  }

  .margin_thumbnail {
    margin-top: 15px;
  }

  .img-edosoft{
    width: 145%!important;
    margin-top: 20%!important;
    margin-left: -34%!important;
    padding-top: 0!important;
  }
}

.margin_from_nav {
  margin-top: 5%;
}

.center_employee_data {
  margin-top: 10%;
}

.img-edosoft{
  width: 50%;
  padding-top: 15%;
}

h2{
    text-align: center;
    color: #898d8d;
}
