.container{
    margin-top: 30px;
}
.datePicker{
    margin-bottom: 30px;
}
p{
    text-align: center;
}
.no-data{
    margin-top: 5em;
}
img{
    max-width: 50%;
}

h2{
    text-align: center;
}
/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {}

@media (max-width: 415px) {

	thead tr th {
        font-size: 16px;
    }
    tbody tr td{
        text-align: center;
        font-size: 16px;

    }

    img{
        max-width: 80%;
    }

}
